name: Build and Deploy

env:
  itchio_project: ${{ secrets.PROJECT_NAME }}

on:
  pull_request:
    branches: [ main ]
  pull_request_target:
    types: [ synchronize ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows
          - StandaloneWindows64
          - StandaloneLinux64

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true

      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-

      - name: Build project
        uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          unityVersion: 2021.2.9f1
          targetPlatform: ${{ matrix.targetPlatform }}
          versioning: Semantic

      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.targetPlatform }}
          path: build

  deploy-google-drive:
    runs-on: ubuntu-latest
    
    needs: build

    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows
          - StandaloneWindows64
          - StandaloneLinux64
    
    steps:
      - uses: actions/checkout@v2
          
      - name: Download a Builded Artifact
        uses: actions/download-artifact@v2.0.10
        with:
          name: ${{ matrix.targetPlatform }}
    
      - name: action-zip
        uses: montudor/action-zip@v1.0.0
        with:
          args: ${{ format('zip -r {0}.zip {0}/', matrix.targetPlatform) }}
          
      - name: Google Drive upload
        uses: willo32/google-drive-upload-action@v1.0.2
        with:
          credentials: ${{ secrets.GOOGLE_DRIVE_CREDENTIAL }}
          parent_folder_id: ${{ secrets.GOOGLE_DRIVE_PARENT_FOLDER }}
          target: ${{ format('{0}.zip', matrix.targetPlatform) }}

  deploy-itchio:
    runs-on: ubuntu-latest
    
    needs: build

    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows
          - StandaloneWindows64
          - StandaloneLinux64

    steps:
      - uses: actions/checkout@v2
          
      - name: Download a Builded Artifact
        uses: actions/download-artifact@v2.0.10
        with:
          name: ${{ matrix.targetPlatform }}
    
      - name: action-zip
        uses: montudor/action-zip@v1.0.0
        with:
          args: ${{ format('zip -r {0}.zip {0}/', matrix.targetPlatform) }}
          
      - name: Set Version
        run: |
          echo "version=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

      - name: Upload ${{ matrix.targetPlatform }} to itch.io project
        uses: robpc/itchio-upload-action@v1
        with:
          path: build/${{ matrix.targetPlatform }}
          project: ${{ secrets.ITCHIO_PROJECT_NAME }}
          channel: ${{ matrix.targetPlatform }}
          version: ${{ matrix.targetPlatform }}.${{ env.version }}
          api-key: ${{ secrets.ITCHIO_API_KEY }}